{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center">Welcome {{ user.username }}</h4>
    </div>
    <!-- Add from here -->
    {% for ass in backends.associated %}
    {% if ass.provider == 'vk-oauth2' %}
    <div class="col-md-6 social-container my-2">
        <p> Signed in via: VKontakte </p>
	<p> Fullname: {{ user.first_name }} {{ user.last_name }} </p>
	<p> Your friends: {{ ass.extra_data.friends }}<img src="/static/you_have_no_friends.png" class="img-fluid" ></p>
	<p>Actually, it's in the development stage :) </p>
    </div>
    {% endif %}
    <!-- End here -->
    {% endfor %}
    <div class="col-sm-12 mt-2 text-center">
        <button class="btn btn-danger">
            <a href="{% url 'logout' %}">Logout</a>
        </button>
    </div>
    <!-- End here -->
</div>
{% endblock %}
